@use '../../styles/_mixin' as *;



section{
    &#aboutLab{
        display: flex;
        flex-direction: column;
        padding: var(--spacing-x-large) 112px;
        > div{
            display: flex;
            gap: 4px;
            justify-content: space-between;

            article{
                width: 45%;
                gap: var(--spacing-large);
                p{
                    @include text-style;
                    font-size: var(--font-size-body-lg);
                }          
            }
            > div{
                width: 45%;
                img{
                    width: 600px;
                    height: 400px;
                    object-fit: contain;
                }
            }
            
        }
    }
    
    &#stat{
        display: flex;
        justify-content: center;

        > article{
            width: 80%;
            padding: 0 112px;
            gap: 128px;
            ul{
                @include stat;
            }
        }
    }

    &#timeline{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: var(--color-bg-secondary-subtle);
        gap: 32px;
        article{
            &:first-of-type{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-xxx-small);
            }
            &:last-of-type{
                div{
                    display: flex;
                    flex-direction: column;
                    gap: 26px;
                    div{
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        gap: 64px;
                        h3{
                            font-family: var(--font-family-heading);
                            font-size: var(--font-size-h1);
                            font-weight: var(--font-weight-bold);
                            line-height: 100%;
                            letter-spacing: -1%;
                            color: var(--color-content-accent);
                        }
                        p{
                            &:first-of-type{
                                font-family: var(--font-family-heading);
                                font-size: var(--font-size-h3);
                                line-height: 136%;
                            }
                        }
                    }
                    > hr{
                        &:first-of-type{
                            width: 55%;
                        }
                        color: var(--color-border-reversed);
                    }
                }
            }
        }
    }

    &#quality{
        color: #000;
        background-color: var(--color-bg-secondary-subtle);
        display: flex;
        justify-content: space-between;
        height: 473px;
        article{
            width: 30%;
            gap: var(--spacing-medium);
            >div{
                gap: var(--spacing-xxx-small);
            }
            p{
                @include text-style;
                color: #000;
            }
        }
    }


}