@use '../../styles/_mixin' as *;

section{
    
    &#aboutLab{
        display: flex;
        flex-direction: column;
        padding: var(--spacing-x-large) 112px;
        > div{
            display: flex;
            gap: 4px;
            justify-content: space-between;

            article{
                width: 45%;
                gap: var(--spacing-large);
                /*FIXME: Non recenser*/
                .path{
                    font-family: var(--font-family-heading);
                    font-size: var(--font-size-body-sm);
                    font-weight: var(--font-weight-light);
                    line-height: 100%;
                    letter-spacing: -1%;
                    color: var(--color-content-tertiary);
                    >span{
                        color: var(--color-content-primary);
                    }
                }
                p{
                    @include text-style;
                    font-size: var(--font-size-body-lg);
                }          
            }
            > div{
                width: 45%;
                img{
                    background-color: #D9D9D9;
                    width: 100%;
                    height: 400px;
                }
            }
            
        }
    }
    
    &#stat{
        display: flex;
        justify-content: center;

        > article{
            width: 80%;
            padding: 0 112px;
            gap: 128px;
            ul{
                @include stat;
            }
        }
    }

    &#quality{
        color: #000;
        background-color: var(--color-bg-secondary-subtle);
        display: flex;
        justify-content: space-between;
        height: 473px;
        article{
            width: 30%;
            gap: var(--spacing-medium);
            >div{
                /*FIXME: non renceser*/
                gap: 4px;
            }
            p{
                @include text-style;
                color: #000;
            }
        }
    }


}