@use '../../styles/_mixin' as *;

.labelField{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-sm);
    font-weight: var(--font-weight-bold);
    line-height: 8px;
    text-transform: uppercase;

    span{
        color: var(--color-icon-danger);
        font-family: var(--font-family-body);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-body-lg);
    }
}

section{
    &#request-title{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: .5px solid var(--color-border-reversed);
    }
    
    &#request{
        article{
            display: flex;
            flex-direction: column;
            gap: var(--spacing-medium);
            width: 100%;
            background-color: #FFF;
            padding: var(--spacing-large);
            border-radius: var(--border-radius-xxl);
            > div{
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: var(--spacing-medium);
                hr{
                    width: 100%;
                    color: var(--color-border-default);
                }
                .form-point{
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    span{
                        font-family: var(--font-family-heading);
                        font-size: var(--font-size-h1);
                        font-weight: var(--font-weight-bold);
                        line-height: 100%;
                        color: var(--color-content-tertiary);
                        border: 1px solid var(--color-border-reversed);
                        border-radius: var(--border-radius-full);
                        padding: 5px var(--spacing-medium);
                    }
                    p{
                        font-family: var(--font-family-body);
                        font-size: var(--font-size-body-md);
                        font-weight: var(--font-weight-bold);
                        color: var(--color-content-tertiary);
                        line-height: 136%;
                    }
                    &.active{
                        span{
                            background-color: var(--color-bg-primary);
                            color: var(--color-content-reversed-primary);
                            border-radius: var(--border-radius-full);
                        }
                        p{
                            color: var(--color-content-accent);
                        }
                    }
                }
            }

            form{
                input[type="text"], select, textarea{
                    border: 1px solid var(--color-border-default);
                    border-radius: var(--border-radius-lg);
                    padding: var(--spacing-x-small) var(--spacing-medium);
                    outline-style: none;
                }
                .input-comment{
                    display: flex;
                    gap: var(--spacing-x-small);
                    line-height: 140%;
                    color: var(--color-content-secondary);
                    a {
                        color: var(--color-content-accent);
                        &:hover{
                            text-decoration: underline;
                        }
                    }
                }
                #privacyPolicyCheck{
                    cursor: pointer;
                }
                
                hr{
                    color: var(--color-border-reversed);
                    height: .5px;
                }
                #form-contact-info{
                    @include card-default;
                }

                &#form-compound{
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-medium);
                    >div{
                        display: flex;
                        flex-direction: column;
                        padding: 0 var(--spacing-x-large);
                        gap: var(--spacing-medium);
                        &#request-type{
                            flex-direction: column;
                            display: flex;
                            > div{
                                display: flex;
                                justify-content: space-between;
                                gap: var(--spacing-x-large);
                                >label{
                                    display: flex;
                                    align-items: flex-start;
                                    gap: var(--spacing-x-small);
                                    border: 1px solid var(--color-border-default);
                                    border-radius: var(--border-radius-xxl);
                                    padding: var(--spacing-xx-small) var(--spacing-medium);
                                    width: 48%;
                                    cursor: pointer;
                                    input{
                                        margin-top: 7px;
                                    }
                                    >div{
                                        display: flex;
                                        flex-direction: column;
                                        > span{
                                            font-weight: var(--font-weight-bold);
                                        }
                                    }
                                }
                            }
                        }
                        
                        &#quantity-purity, &#packing-required, &#company-institution, &#country-website, &#your-name, &#mail-phone, &#role{
                            display: flex;
                            gap: var(--spacing-medium);
                            flex-direction: row;
                            justify-content: space-between;
                            align-items: flex-start;
                            >div{
                                display: flex;
                                gap: var(--spacing-xx-small);
                                flex-direction: column;
                                width: 100%;
                            }
                            &#mail-phone,&#country-website{
                                align-items: flex-start;
                            }
                        }
                    }
                }
                nav{
                    display: flex;
                    gap: var(--spacing-medium);
                    justify-content: space-between;
                    padding: 0 var(--spacing-x-large);
                    button{
                        display: flex;
                        gap: var(--spacing-xx-small);
                        svg{
                            rotate: 180deg;
                        }
                        &:first-of-type{
                            @include btn-grey;
                        }
                        &:last-of-type{
                            @include btn-blue;
                        }
                    }
                    
                }
            }
        }
    }

    &#success{
        display: flex;
        flex-direction: column;
        article{
            display: flex;
            flex-direction: column;
            width: 100%;
            svg{
                width: 48px;
                height: 48px;
                color: var(--color-icon-brand)
            }
            &:first-of-type{
                display: flex;
                align-items: flex-end;
            }
            &:last-of-type{
                display: flex;
                align-items: center;
                gap: var(--spacing-medium);
                width: 60%;
                svg{
                    width: 70px;
                    height: 70px;
                }
                div{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    &:first-of-type{
                        gap: var(--spacing-xxx-small);
                        h1{
                            color: var(--color-content-accent)
                        }
                        span{
                            text-align: center;
                            font-family: var(--font-family-heading);
                            font-weight: var(--font-weight-bold);
                            font-size: var(--font-size-h1);
                            line-height: 106%;
                            color: var(--color-content-primary);
                        }
                    }
                    &:last-of-type{
                        gap: var(--spacing-x-large);
                        text-align: center
                    }
                    a{
                        @include btn-blue;
                    }
                }
            }
        }
    }
}