/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
.labelField {
  display: flex;
  gap: var(--spacing-xx-small);
  align-items: center;
  width: 100%;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-bold);
  line-height: 8px;
  text-transform: uppercase;
  color: var(--color-content-tertiary);
}
.labelField span {
  color: var(--color-icon-danger);
  font-family: var(--font-family-body);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-body-lg);
}

section#request-title {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 0.5px solid var(--color-border-reversed);
}
section#request-title h1 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: 106%;
  color: var(--color-content-primary);
}
section#request article {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  width: 100%;
  background-color: #FFF;
  padding: var(--spacing-large);
  border-radius: var(--border-radius-xxl);
}
section#request article > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-medium);
}
section#request article > div hr {
  width: 100%;
  color: var(--color-border-default);
}
section#request article > div .form-point {
  display: flex;
  align-items: center;
  gap: 15px;
}
section#request article > div .form-point span {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: 100%;
  color: var(--color-content-tertiary);
  border: 1px solid var(--color-border-reversed);
  border-radius: var(--border-radius-full);
  padding: 5px var(--spacing-medium);
}
section#request article > div .form-point p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  font-weight: var(--font-weight-bold);
  color: var(--color-content-tertiary);
  line-height: 136%;
}
section#request article > div .form-point.active span {
  background-color: var(--color-bg-primary);
  color: var(--color-content-reversed-primary);
  border-radius: var(--border-radius-full);
}
section#request article > div .form-point.active p {
  color: var(--color-content-accent);
}
section#request article form input[type=text], section#request article form input[type=email], section#request article form select, section#request article form textarea {
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-x-small) var(--spacing-medium);
  outline-style: none;
  background-color: var(--color-bg-default);
}
section#request article form .input-comment {
  display: flex;
  gap: var(--spacing-x-small);
  line-height: 140%;
  color: var(--color-content-secondary);
}
section#request article form .input-comment a {
  color: var(--color-content-accent);
}
section#request article form .input-comment a:hover {
  text-decoration: underline;
}
section#request article form .input-comment > span > span {
  color: var(--color-icon-danger);
}
section#request article form #privacyPolicyCheck {
  cursor: pointer;
}
section#request article form input[type=checkbox] {
  accent-color: var(--color-bg-primary-subtle);
}
section#request article form hr {
  color: var(--color-border-reversed);
  height: 0.5px;
}
section#request article form #form-contact-info {
  display: flex;
  align-items: center;
  gap: var(--spacing-large);
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-lg);
  padding: var(--spacing-x-large);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#request article form #form-contact-info > div {
  display: flex;
  gap: var(--spacing-x-small);
  align-items: center;
}
section#request article form #form-contact-info > div h2 {
  font-weight: var(--font-weight-bold);
  white-space: nowrap;
}
section#request article form#form-compound {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
}
section#request article form#form-compound > div {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-x-large);
  gap: var(--spacing-medium);
}
section#request article form#form-compound > div#request-type-container {
  display: flex;
  flex-direction: column;
}
section#request article form#form-compound > div#request-type-container > div {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-x-large);
}
section#request article form#form-compound > div#request-type-container > div > label {
  background-color: var(--color-bg-default);
  display: flex;
  align-items: flex-start;
  gap: var(--spacing-x-small);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  width: 48%;
  cursor: pointer;
}
section#request article form#form-compound > div#request-type-container > div > label input {
  margin-top: 7px;
}
section#request article form#form-compound > div#request-type-container > div > label > div {
  display: flex;
  flex-direction: column;
}
section#request article form#form-compound > div#request-type-container > div > label > div > span {
  font-weight: var(--font-weight-bold);
}
section#request article form#form-compound > div#quantity-purity, section#request article form#form-compound > div#packing-required, section#request article form#form-compound > div#company-institution, section#request article form#form-compound > div#country-website, section#request article form#form-compound > div#your-name, section#request article form#form-compound > div#mail-phone, section#request article form#form-compound > div#role {
  display: flex;
  gap: var(--spacing-medium);
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
section#request article form#form-compound > div#quantity-purity > div, section#request article form#form-compound > div#packing-required > div, section#request article form#form-compound > div#company-institution > div, section#request article form#form-compound > div#country-website > div, section#request article form#form-compound > div#your-name > div, section#request article form#form-compound > div#mail-phone > div, section#request article form#form-compound > div#role > div {
  display: flex;
  gap: var(--spacing-xx-small);
  flex-direction: column;
  width: 100%;
}
section#request article form#form-compound > div#quantity-purity#mail-phone, section#request article form#form-compound > div#quantity-purity#country-website, section#request article form#form-compound > div#packing-required#mail-phone, section#request article form#form-compound > div#packing-required#country-website, section#request article form#form-compound > div#company-institution#mail-phone, section#request article form#form-compound > div#company-institution#country-website, section#request article form#form-compound > div#country-website#mail-phone, section#request article form#form-compound > div#country-website#country-website, section#request article form#form-compound > div#your-name#mail-phone, section#request article form#form-compound > div#your-name#country-website, section#request article form#form-compound > div#mail-phone#mail-phone, section#request article form#form-compound > div#mail-phone#country-website, section#request article form#form-compound > div#role#mail-phone, section#request article form#form-compound > div#role#country-website {
  align-items: flex-start;
}
section#request article form nav {
  display: flex;
  gap: var(--spacing-medium);
  justify-content: space-between;
  padding: 0 var(--spacing-x-large);
}
section#request article form nav button {
  display: flex;
  gap: var(--spacing-xx-small);
}
section#request article form nav button svg {
  rotate: 180deg;
}
section#request article form nav button:first-of-type {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#request article form nav button:first-of-type:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#request article form nav button:first-of-type:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#request article form nav button:first-of-type {
  color: var(--color-content-primary);
  border-color: var(--color-border-reversed);
}
section#request article form nav button:first-of-type:hover {
  background-color: var(--color-state-bg-neutral-hover);
}
section#request article form nav button:first-of-type:active {
  background-color: var(--color-state-bg-neutral-pressed);
  color: var(--color-content-primary);
}
section#request article form nav button:last-of-type {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#request article form nav button:last-of-type:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#request article form nav button:last-of-type:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#request article form nav button:last-of-type {
  background-color: var(--color-bg-primary);
  color: var(--color-content-on-primary);
}
section#request article form nav button:last-of-type:hover {
  background-color: var(--color-state-primary-hover);
}
section#request article form nav button:last-of-type:active {
  background-color: var(--color-state-primary-pressed);
}
section#request article form nav button:last-of-type:disabled {
  background-color: var(--color-bg-disabled);
  color: var(--color-content-reversed-secondary);
  border: none;
}
section#success {
  display: flex;
  flex-direction: column;
}
section#success article {
  display: flex;
  flex-direction: column;
  width: 100%;
}
section#success article svg {
  width: 48px;
  height: 48px;
  color: var(--color-icon-brand);
}
section#success article:first-of-type {
  display: flex;
  align-items: flex-end;
}
section#success article:last-of-type {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
  width: 60%;
}
section#success article:last-of-type svg {
  width: 70px;
  height: 70px;
}
section#success article:last-of-type div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#success article:last-of-type div:first-of-type {
  gap: var(--spacing-xxx-small);
}
section#success article:last-of-type div:first-of-type h1 {
  color: var(--color-content-accent);
}
section#success article:last-of-type div:first-of-type span {
  text-align: center;
  font-family: var(--font-family-heading);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h1);
  line-height: 106%;
  color: var(--color-content-primary);
}
section#success article:last-of-type div:last-of-type {
  gap: var(--spacing-x-large);
  text-align: center;
}
section#success article:last-of-type div a {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#success article:last-of-type div a:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#success article:last-of-type div a:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#success article:last-of-type div a {
  background-color: var(--color-bg-primary);
  color: var(--color-content-on-primary);
}
section#success article:last-of-type div a:hover {
  background-color: var(--color-state-primary-hover);
}
section#success article:last-of-type div a:active {
  background-color: var(--color-state-primary-pressed);
}
section#success article:last-of-type div a:disabled {
  background-color: var(--color-bg-disabled);
  color: var(--color-content-reversed-secondary);
  border: none;
}/*# sourceMappingURL=request.css.map */