/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
/*******************************************************************************************************************/
section#searchInCatalogue {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /*FIXME: gap 20px Non recenser*/
  gap: 20px;
  border-bottom: 0.5px solid var(--color-border-reversed);
}
section#searchInCatalogue > article h2 {
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-regular);
}
section#searchInCatalogue > article p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-secondary);
}
section#searchInCatalogue > article {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
section#searchInCatalogue > article:first-of-type div:last-of-type {
  display: flex;
  gap: var(--spacing-xx-small);
}
section#searchInCatalogue > article:first-of-type div:last-of-type a {
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  gap: var(--spacing-xx-small);
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#searchInCatalogue > article:first-of-type div:last-of-type a:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#searchInCatalogue > article:first-of-type div:last-of-type a:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#searchInCatalogue > article:first-of-type div:last-of-type a {
  color: var(--color-content-primary);
  border-color: var(--color-border-reversed);
}
section#searchInCatalogue > article:first-of-type div:last-of-type a:hover {
  background-color: var(--color-state-bg-neutral-hover);
}
section#searchInCatalogue > article:first-of-type div:last-of-type a:active {
  background-color: var(--color-state-bg-neutral-pressed);
  color: var(--color-content-primary);
}
section#searchInCatalogue > article:last-of-type {
  display: flex;
  border: 1px solid var(--color-border-reversed);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-medium) var(--spacing-xx-small);
}
section#searchInCatalogue > article:last-of-type p {
  color: var(--color-content-tertiary);
}
section#searchInCatalogue > article:last-of-type > div {
  gap: var(--spacing-xx-small);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#searchInCatalogue > article:last-of-type > div input {
  width: 100%;
  outline-style: none;
}
section#content-catalogue {
  display: flex;
  align-items: flex-start;
  background-color: var(--color-surface-raised);
  width: 100%;
}
section#content-catalogue article {
  display: flex;
  justify-content: space-between;
}
section#content-catalogue article#filtre {
  position: sticky;
  top: 60px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding: var(--spacing-x-large);
}
section#content-catalogue article#filtre > .number {
  border-bottom: 0.5px solid var(--color-border-reversed);
}
section#content-catalogue article#filtre > div .filter-elem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-xxx-small);
  padding: var(--spacing-xxx-small) var(--spacing-xx-small);
  border-radius: var(--border-radius-md);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: #000;
}
section#content-catalogue article#filtre > div .filter-elem.active {
  background-color: rgba(159, 159, 210, 0.4);
  color: var(--color-content-accent);
}
section#content-catalogue article#filtre > div .filter-elem:hover {
  cursor: pointer;
}
section#content-catalogue article#product {
  display: flex;
  flex-direction: column;
  width: 79%;
  gap: var(--spacing-x-large);
}
section#content-catalogue article#product div#sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#content-catalogue article#product div#sort p {
  font-size: var(--font-size-body-sm);
  color: var(--color-content-primary);
}
section#content-catalogue article#product div#sort div {
  display: flex;
  align-items: center;
  gap: var(--spacing-medium);
}
section#content-catalogue article#product div#sort div select {
  display: flex;
  padding: var(--spacing-x-small) var(--spacing-x-small) var(--spacing-x-small) var(--spacing-medium);
  border-radius: var(--border-radius-lg);
  gap: var(--spacing-xx-small);
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-border-default);
  width: 250px;
}
section#content-catalogue article#product div#sort div select:hover {
  cursor: pointer;
}
section#content-catalogue article#product div#sort div select:focus {
  outline-style: none;
}
section#content-catalogue article#product div#product-container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xx-small);
}
section#content-catalogue article#product div#product-container article {
  display: flex;
  flex-direction: column;
  width: 18%;
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
  background-color: var(--color-bg-default);
}
section#content-catalogue article#product div#product-container article div.img-container {
  position: relative;
}
section#content-catalogue article#product div#product-container article div.img-container > div {
  position: absolute;
  display: flex;
  width: 100%;
  padding: 8px;
  justify-content: flex-end;
}
section#content-catalogue article#product div#product-container article div.img-container > div > div.in-stock {
  display: flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-sm);
  line-height: 136%;
  letter-spacing: -1%;
  padding: 4px var(--spacing-xx-small);
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background-color: var(--color-state-bg-reversed-hover);
  color: var(--color-content-accent);
  border-radius: var(--border-radius-full);
  background-color: var(--color-bg-success);
  color: var(--color-content-success);
}
section#content-catalogue article#product div#product-container article div.img-container > div > div.out-stock {
  display: flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-sm);
  line-height: 136%;
  letter-spacing: -1%;
  padding: 4px var(--spacing-xx-small);
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background-color: var(--color-state-bg-reversed-hover);
  color: var(--color-content-accent);
  border-radius: var(--border-radius-full);
  background-color: var(--color-bg-danger);
  color: var(--color-content-danger);
}
section#content-catalogue article#product div#product-container article div.img-container > div > div.purity {
  display: flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-sm);
  line-height: 136%;
  letter-spacing: -1%;
  padding: 4px var(--spacing-xx-small);
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background-color: var(--color-state-bg-reversed-hover);
  color: var(--color-content-accent);
  border-radius: var(--border-radius-default);
  background-color: var(--color-bg-default);
  color: var(--color-content-secondary);
}
section#content-catalogue article#product div#product-container article div.txt-container {
  border: 1px solid #D9D9D9;
  border-top: none;
  border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
  padding: 0 var(--spacing-medium) var(--spacing-xx-small) var(--spacing-medium);
}
section#content-catalogue article#product div#product-container article div.txt-container div .nomenclature {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-bold);
  line-height: 136%;
}
section#content-catalogue article#product div#product-container article div.txt-container div .number:first-of-type {
  color: var(--color-content-accent);
}
section#content-catalogue article#product div#product-container article div.txt-container div > div {
  display: flex;
  justify-content: space-between;
  color: var(--color-content-tertiary);
}
section#content-catalogue article#product div#product-container article div.txt-container ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
section#content-catalogue article#product div#product-container article div.txt-container ul li {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-sm);
  line-height: 136%;
  letter-spacing: -1%;
  padding: 4px var(--spacing-xx-small);
  gap: 4px;
  width: fit-content;
  align-items: center;
  font-size: 8px;
  height: 12px;
  background-color: var(--color-state-bg-reversed-hover);
  color: var(--color-content-accent);
  border-radius: var(--border-radius-full);
}
section#content-catalogue article#product div#product-container #empty-search {
  display: flex;
  flex-direction: column;
  background-color: var(--color-surface-default);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-large);
  align-items: center;
}
section#content-catalogue article#product div#product-container #empty-search > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  gap: var(--spacing-xx-large);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: var(--spacing-x-large);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container #empty-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container #empty-title #empty-svg {
  background-color: var(--color-state-bg-reversed-hover);
  width: 96px;
  height: 96px;
  border-radius: var(--border-radius-full);
  padding: var(--spacing-medium);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container #empty-title #empty-svg svg {
  width: 64px;
  height: 64px;
  color: var(--color-icon-brand);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container #empty-title h2:first-of-type, section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container #empty-title span {
  color: var(--color-content-accent);
  font-size: var(--font-size-h1);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav {
  display: flex;
  gap: var(--spacing-xx-small);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav button {
  display: flex;
  gap: var(--spacing-xx-small);
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav button:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav button:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav button {
  color: var(--color-content-primary);
  border-color: var(--color-border-reversed);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav button:hover {
  background-color: var(--color-state-bg-neutral-hover);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav button:active {
  background-color: var(--color-state-bg-neutral-pressed);
  color: var(--color-content-primary);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav button {
  cursor: pointer;
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav a {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav a:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav a:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav a {
  background-color: var(--color-bg-primary);
  color: var(--color-content-on-primary);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav a:hover {
  background-color: var(--color-state-primary-hover);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav a:active {
  background-color: var(--color-state-primary-pressed);
}
section#content-catalogue article#product div#product-container #empty-search > div #empty-info-container nav a:disabled {
  background-color: var(--color-bg-disabled);
  color: var(--color-content-reversed-secondary);
  border: none;
}
section#content-catalogue article#product div#product-container #empty-search > div div:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-xx-small);
}
section#content-catalogue article#product div#product-container #empty-search > div div:last-of-type ul {
  display: flex;
  gap: var(--spacing-xx-small);
}
section#content-catalogue article#product div#product-container #empty-search > div div:last-of-type ul button {
  display: flex;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-sm);
  line-height: 136%;
  letter-spacing: -1%;
  padding: 4px var(--spacing-xx-small);
  gap: 4px;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  background-color: var(--color-state-bg-reversed-hover);
  color: var(--color-content-accent);
  border-radius: var(--border-radius-full);
  background-color: rgba(0, 0, 0, 0);
  border: 0.5px solid var(--color-border-accent);
  color: var(--color-content-accent);
}
section#content-catalogue article#product div#product-container #empty-search > div div:last-of-type ul button:active {
  background-color: var(--color-state-bg-reversed-hover);
  color: var(--color-content-link-hover);
}
section#content-catalogue article#product div#product-container #empty-search > div div:last-of-type ul button {
  cursor: pointer;
}
section#content-catalogue article#product div#pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-xx-small);
}
section#content-catalogue article#product div#pagination button {
  padding: var(--spacing-xx-small) var(--spacing-x-small);
  outline: 1px solid var(--color-border-reversed);
  border-radius: var(--border-radius-lg);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#content-catalogue article#product div#pagination button:first-of-type svg {
  rotate: 180deg;
}
section#content-catalogue article#product div#pagination button:active {
  color: var(--color-content-on-primary);
  background-color: var(--color-bg-primary);
  border: none;
}/*# sourceMappingURL=catalogue.css.map */