@use '../../styles/mixin' as *;

section{
    &#searchInCatalogue{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /*FIXME: gap 20px Non recenser*/
        gap: 20px;
        border-bottom: 0.5px solid var(--color-border-reversed);
        > article{
            h2{
                font-size: var(--font-size-h1);
                font-weight: var(--font-weight-regular);
            }
            p{
                @include text-style;
            }
            display: flex;
            justify-content: space-between;
            width: 100%;
            &:first-of-type{
                div{
                    &:last-of-type{
                        display: flex;
                        gap: var(--spacing-xx-small);
                        a{  
                            display: flex;
                            align-items: flex-end;
                            align-self: flex-end;
                            gap: var(--spacing-xx-small);
                            @include btn-grey;
                        }
                    }
                }
            }
            &:last-of-type{
                display: flex;
                border: 1px solid var(--color-border-reversed);
                border-radius: var(--border-radius-xxl);
                padding: var(--spacing-medium) var(--spacing-xx-small);  
                p{
                    color: var(--color-content-tertiary);

                }
                >div{
                    gap: var(--spacing-xx-small);
                    width: 90%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    input{
                        width: 100%;
                        outline-style: none;
                    }
                    
                }
            }
        }
    }

    
    &#content-catalogue{
        display: flex;
        align-items: flex-start;
        background-color: var(--color-surface-raised);
        width: 100%;
        article{
            display: flex;
            justify-content: space-between;
            &#filtre{
                position: sticky;
                top: 60px;
                display: flex;
                flex-direction: column;
                gap: 9px;
                padding: var(--spacing-x-large);
                > .number{
                    border-bottom: .5px solid var(--color-border-reversed);
                }
                >div{
                    .filter-elem{
                        width: 100%;
                        @include filter-element;
                        &:hover{
                            cursor: pointer;
                        }
                        
                    }
                }
            }
            &#product{
                display: flex;
                flex-direction: column;
                width: 79%;
                gap: var(--spacing-x-large);
                div{
                    &#sort{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        p{
                            font-size: var(--font-size-body-sm);
                            color: var(--color-content-primary)
                        }
                        div{
                            display: flex;
                            align-items: center;
                            gap: var(--spacing-medium);
                            select{
                                @include select;
                                &:hover{
                                    cursor: pointer;
                                }
                                &:focus{
                                    outline-style: none;
                                }

                            }
                        }
                    }

                    &#product-container{
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--spacing-xx-small);
                        article{
                            display: flex;
                            flex-direction: column;
                            width: 18%;
                            border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
                            background-color: var(--color-bg-default);
                            div{
                                &.img-container{
                                    position: relative;

                                    > div{
                                        position: absolute;
                                        display: flex;
                                        width: 100%;
                                        padding: 8px;
                                        justify-content: flex-end;

                                        >div{
                                            &.in-stock{
                                                @include chips-large-success-rounded;
                                            }
                                            &.out-stock{
                                                @include chips-large-danger-rounded;
                                            }
                                            &.purity{
                                                @include chips-large-neutral-square;
                                            }
                                        }
                                    }
                                    

                                }
                                &.txt-container{
                                    border: 1px solid #D9D9D9;
                                    border-top: none;
                                    border-radius: 0 0 var(--border-radius-lg) var(--border-radius-lg);
                                    padding: 0 var(--spacing-medium) var(--spacing-xx-small) var(--spacing-medium);
                                    div{
                                        .nomenclature{
                                            white-space: nowrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            font-family: var(--font-family-heading);
                                            font-size: var(--font-size-body-sm);
                                            font-weight: var(--font-weight-bold);
                                            line-height: 136%;
                                        }
                                        
                                        .number{
                                            &:first-of-type{
                                                color: var(--color-content-accent)
                                            }
                                        }
                                        > div{
                                            display: flex;
                                            justify-content: space-between;
                                            color: var(--color-content-tertiary);
                                        }
                                    }
                                    ul{
                                        display: flex;
                                        flex-direction: column;
                                        gap: 4px;
                                        li{
                                            width: fit-content;
                                            @include chips-small-primary-rounded;
                                        }
                                    }
                                    
                                }
                            }
                        }
                        #empty-search{
                            display: flex;
                            flex-direction: column;
                            background-color: var(--color-surface-default);
                            border-radius: var(--border-radius-xxl);
                            padding: var(--spacing-large);
                            align-items: center;
                            >div{
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                width: 70%;
                                gap: var(--spacing-xx-large);
                                #empty-info-container{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    text-align: center;
                                    gap: var(--spacing-x-large);
                                    #empty-title{
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        #empty-svg{
                                            background-color: var(--color-state-bg-reversed-hover);
                                            width: 96px;
                                            height: 96px;
                                            border-radius: var(--border-radius-full);
                                            padding: var(--spacing-medium);
                                            svg{
                                                width: 64px;
                                                height: 64px;
                                                color: var(--color-icon-brand)
                                            }
                                        }
                                        h2:first-of-type,span{
                                            color: var(--color-content-accent);
                                            font-size: var(--font-size-h1);
                                        }
                                    }
                                    nav{
                                        display: flex;
                                        gap: var(--spacing-xx-small);
                                        button{
                                            display: flex;
                                            gap: var(--spacing-xx-small);
                                            @include btn-grey;
                                            cursor: pointer;

                                        }
                                        a{
                                            @include btn-blue;
                                        }
                                    }
                                }
                                div:last-of-type{
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    gap: var(--spacing-xx-small);
                                    ul{
                                        display: flex;
                                        gap: var(--spacing-xx-small);
                                        button{
                                            @include chips-large-outlined-rounded;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &#pagination{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        gap: var(--spacing-xx-small);
                        button{
                            padding: var(--spacing-xx-small) var(--spacing-x-small);
                            outline: 1px solid var(--color-border-reversed);
                            border-radius: var(--border-radius-lg);
                            box-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
                            &:first-of-type{
                                svg{
                                    rotate: 180deg;
                                }
                            }
                            &:active{
                                color: var(--color-content-on-primary);
                                background-color: var(--color-bg-primary);
                                border: none;
                            }
                        }

                    }
                }
            }
            
        }
    }
}