@use '../../styles/_mixin' as *;


section{
    &#legal-title{
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
        border-bottom: .5px solid var(--color-border-reversed);
    }

    &#privacy-policy,&#general-tc,&#legal-notice,&#general-terms{
        background-color: #FFF;
        display: flex;
        gap: var(--spacing-x-large);
        justify-content: center;
        align-items: flex-start;
        article{
            display: flex;
            &:first-of-type{
                position: sticky;
                top: 83px;
                width: 20%;
                flex-direction: column;
                gap: var(--spacing-medium);
                nav{
                    display: flex;
                    button{
                        @include btn-border-bottom-blue;
                        width: 25%;
                    }
                }
                p{
                    font-family: var(--font-family-heading);
                    font-size: var(--font-size-body-sm);
                    font-weight: var(--font-weight-bold);
                    line-height: 8px;
                    text-transform: uppercase;
                    color: var(--color-content-tertiary);
                }
                
                ul{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    border-left: .5px solid var(--color-border-reversed);
                    overflow-y: auto;
                    max-height: 80vh;
                    button{
                        text-align: left;
                        scroll-margin-top: 83px;
                        padding: var(--spacing-xx-small) var(--spacing-x-small);
                        &:active,&.active{
                            color: var(--color-content-accent);
                        }
                    }
                }
            }
            &:last-of-type{
                display: flex;
                flex-direction: column;
                gap: var(--spacing-medium);
                width: 40%;
                h3{
                    font-weight: var(--font-weight-bold);
                }
                
                > ul{
                    display: flex;
                    flex-direction: column;
                    gap: var(--spacing-medium);

                    > li{
                        display: flex;
                        flex-direction: column;
                        gap: var(--spacing-xxx-small);
                        p{
                            font-family: var(--font-family-body);
                            line-height: 140%;
                            font-size: var(--font-size-body-md);
                            a{
                                color: var(--color-content-accent);
                                &:hover{
                                    text-decoration: underline;
                                }
                            }
                        }
                        span{
                            font-family: var(--font-family-body);
                            font-size: var(--font-size-body-md);
                            font-weight: var(--font-weight-bold);
                            line-height: 136%;
                            color: var(--color-content-primary);
                        }
                        ul{
                            list-style-type: disc;
                            list-style-position: inside;

                        }
                    }
                }
                .legal-note{
                    @include card-default;
                }
            }
        }
    }
    &#general-terms > article:last-of-type > ul > li {
        gap: var(--spacing-medium);
        h3{
            cursor: pointer;
            display: flex;
            justify-content: space-between;
        }
    }
}