@mixin legend-marker(){
    gap: 2px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-family: var(--font-family-heading);
    font-size: var(--font-size-body-sm);
    color: var(--color-content-accent);
    line-height: 8px;
    div{
        width: 2px;
        height: 2px;
        background-color: var(--color-content-accent);
        transform: rotate(45deg);
    }
}
@mixin btn-base(){
    border: 0.5px solid var(--color-border-accent);
    border-radius: var(--border-radius-xxl);
    padding: var(--spacing-xx-small) var(--spacing-medium);
    color: var(--color-content-accent);
    box-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
    &:hover{
        background-color: var(--color-state-bg-reversed-hover);
    }
    &:active{
        background-color: var(--color-state-bg-dark-active);
        color: var(--color-content-disabled)

    }
}

@mixin btn-blue(){
    @include btn-base();
    background-color: var(--color-bg-primary);
    color: var(--color-content-on-primary);
    &:hover{
        background-color: var(--color-state-primary-hover);
    }
    &:active{
        background-color: var(--color-state-primary-pressed);
    }
}

@mixin btn-grey(){
    @include btn-base();
    color: var(--color-content-primary);
    border-color: var(--color-border-reversed);
    &:hover{
        background-color: var(--color-state-bg-neutral-hover);
    }
    &:active{
        background-color: var(--color-state-bg-neutral-pressed);
        color: var(--color-content-primary);
    }
}

@mixin btn-white(){
    box-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
    border-radius: var(--border-radius-xxl);
    padding: var(--spacing-xx-small) var(--spacing-medium);
    background-color: var(--color-bg-default);
    color: var(--color-content-primary);
    &:hover{
        background-color: var(--color-state-bg-neutral-hover);
    }
    &:active{
        background-color: var(--color-state-bg-neutral-pressed)
    }
}

@mixin text-style(){
    font-family: var(--font-family-body);
    font-size: var(--font-size-body-md);
    line-height: 136%;
    letter-spacing: -1%;
    color: var(--color-content-secondary);
}

@mixin chips-base{
    border-radius: var(--border-radius-full);
    border: .5px solid var(--color-border-accent);
    /*FIXME: 4px non recenser*/
    padding: 4px var(--spacing-xx-small);

    font-family: var(--font-family-body);
    font-size: var(--font-size-body-sm);
    line-height: 136%;
    letter-spacing: -1%;
    color: var(--color-content-accent);
    &:active{
        color: var(--color-content-reversed-primary);
        background-color: var(--color-bg-primary);
    }
}
