/* Header */

header{
  background-color: var(--color-bg-default);
  padding: var(--spacing-x-large) 112px;
  position: sticky;
  /* Vérifier le code couleur non présent dans globals.css */
  box-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06)
  ;
}

#credits{
  display: flex;
  flex-direction: row;
}

#credits > p {
  color: var(--color-content-secondary);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-body-sm);
  margin: 0 var(--spacing-xx-small);
}
#navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-medium);
}

/* TODO a voir je n'ai pas de variable pour ça et image temporaire*/
#navigation > img{
  width: 108px;
  height: 68px;
}

#navigation > nav{
  display: flex;
  justify-content: center;
  color: var(--color-content-accent);
  font-size: var(--font-size-body-md);
  font-family: var(--font-family-body);
  width: 772px;
}

#navigation > nav > ul{
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium);
}

#navigation > nav > ul > li{
  padding: var(--spacing-xx-small) var(--spacing-medium);
  gap: var(--spacing-xx-small);
}

#navigation > #action {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-medium);
}

#navigation > #action > *{
  padding: var(--spacing-xx-small) var(--spacing-medium);
  border-radius: var(--border-radius-xxl);
}

#navigation > #action > div{
  border: 0.5px solid var(--color-border-accent);
  color: var(--color-content-accent);
}

#navigation > #action > a{
  background-color: var(--color-bg-primary);
  color: var(--color-content-on-primary);
  border: 0.5px solid var(--color-border-accent);
}