h1 {
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  line-height: 175%;
  letter-spacing: -2%;
}

h2 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h2);
  font-weight: var(--font-weight-bold);
  line-height: 106%;
  letter-spacing: -1%;
}

h3 {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h3);
  line-height: 136%;
  letter-spacing: -1%;
}

legend {
  gap: 2px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-body-sm);
  color: var(--color-content-accent);
  line-height: 8px;
}
legend .losange {
  width: 2px;
  height: 2px;
  background-color: var(--color-content-accent);
  transform: rotate(45deg);
}

.glassIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  min-height: 56px;
  max-width: 56px;
  max-height: 56px;
  color: var(--color-icon-brand);
  background-color: rgba(159, 159, 210, 0.4);
  /*FIXME: non recenser*/
  border-radius: 12px;
  /*FIXME: non recenser*/
  padding: 4px;
}

.number {
  font-family: var(--font-family-heading);
  /*FIXME: 12px non recenser*/
  font-size: 12px;
  color: var(--color-content-secondary);
}

.path {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-light);
  line-height: 100%;
  letter-spacing: -1%;
  color: var(--color-content-tertiary);
}
.path > span {
  color: var(--color-content-primary);
}

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /*FIXME: changer le 112px par une variable*/
  padding: var(--spacing-x-large) 112px;
}
section#presentation article {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section#presentation article:first-of-type {
  /*FIXME: changer le 4px par une variable*/
  gap: var(--spacing-large);
}
section#presentation article:first-of-type div:first-of-type p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-secondary);
  font-size: var(--font-size-body-lg);
}
section#presentation article:first-of-type div:last-of-type {
  display: flex;
  gap: var(--spacing-medium);
}
section#presentation article:first-of-type div:last-of-type a:first-of-type {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#presentation article:first-of-type div:last-of-type a:first-of-type:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#presentation article:first-of-type div:last-of-type a:first-of-type:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#presentation article:first-of-type div:last-of-type a:first-of-type {
  background-color: var(--color-bg-primary);
  color: var(--color-content-on-primary);
}
section#presentation article:first-of-type div:last-of-type a:first-of-type:hover {
  background-color: var(--color-state-primary-hover);
}
section#presentation article:first-of-type div:last-of-type a:first-of-type:active {
  background-color: var(--color-state-primary-pressed);
}
section#presentation article:first-of-type div:last-of-type a:last-of-type {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#presentation article:first-of-type div:last-of-type a:last-of-type:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#presentation article:first-of-type div:last-of-type a:last-of-type:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#presentation article:last-of-type {
  /*FIXME: 48px absent dans globale*/
  gap: 48px;
}
section#presentation article:last-of-type img {
  /*FIXME: couleur a mettre dans global*/
  background-color: #D9D9D9;
  width: 100%;
  height: 400px;
}
section#presentation article:last-of-type ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section#presentation article:last-of-type ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h3);
  line-height: 136%;
  letter-spacing: -1%;
}
section#presentation article:last-of-type ul li span {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-h1);
  font-weight: var(--font-weight-bold);
  line-height: 106%;
  letter-spacing: -1%;
}
section#finder {
  /*FIXME: couleur non recenser*/
  display: flex;
  justify-content: space-between;
  background-color: #C7DAEC;
}
section#finder > article {
  /*presentation <--*/
}
section#finder > article:first-of-type {
  width: 35%;
  padding: var(--spacing-xx-small) 0;
}
section#finder > article:first-of-type > div > p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-secondary);
}
section#finder > article:first-of-type > div {
  margin-bottom: var(--spacing-medium);
}
section#finder > article:first-of-type a {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#finder > article:first-of-type a:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#finder > article:first-of-type a:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#finder > article:first-of-type a {
  color: var(--color-content-primary);
  border-color: var(--color-border-reversed);
}
section#finder > article:first-of-type a:hover {
  background-color: var(--color-state-bg-neutral-hover);
}
section#finder > article:first-of-type a:active {
  background-color: var(--color-state-bg-neutral-pressed);
  color: var(--color-content-primary);
}
section#finder > article:first-of-type a {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing-xx-small);
}
section#finder > article {
  /*Recherche -->*/
}
section#finder > article:last-of-type {
  display: flex;
  flex-direction: column;
  width: 55%;
  gap: var(--spacing-medium);
}
section#finder > article:last-of-type .searchBar {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xx-small);
  /*Search Bar*/
}
section#finder > article:last-of-type .searchBar .searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--spacing-medium) var(--spacing-xx-small);
  min-width: 360px;
  /*FIXME: border radius non recenser*/
  border-radius: 12px;
  background-color: var(--color-surface-default);
}
section#finder > article:last-of-type .searchBar .searchBarContainer .searchBarInput {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-xx-small);
  width: 100%;
}
section#finder > article:last-of-type .searchBar .searchBarContainer .searchBarInput input {
  width: 100%;
  outline-style: none;
}
section#finder > article:last-of-type .searchBar .searchBarContainer button {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#finder > article:last-of-type .searchBar .searchBarContainer button:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#finder > article:last-of-type .searchBar .searchBarContainer button:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#finder > article:last-of-type .searchBar .searchBarContainer button {
  background-color: var(--color-bg-primary);
  color: var(--color-content-on-primary);
}
section#finder > article:last-of-type .searchBar .searchBarContainer button:hover {
  background-color: var(--color-state-primary-hover);
}
section#finder > article:last-of-type .searchBar .searchBarContainer button:active {
  background-color: var(--color-state-primary-pressed);
}
section#finder > article:last-of-type .searchBar .popular {
  display: flex;
  gap: var(--spacing-xx-small);
}
section#finder > article:last-of-type .searchBar .popular p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-secondary);
}
section#finder > article:last-of-type .searchBar .popular ul {
  /*FIXME: 4px non recenser*/
  gap: 4px;
  display: flex;
  flex-wrap: wrap;
}
section#finder > article:last-of-type .searchBar .popular ul li {
  border-radius: var(--border-radius-full);
  border: 0.5px solid var(--color-border-accent);
  /*FIXME: 4px non recenser*/
  padding: 4px var(--spacing-xx-small);
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-sm);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-accent);
}
section#finder > article:last-of-type .searchBar .popular ul li:active {
  color: var(--color-content-reversed-primary);
  background-color: var(--color-bg-primary);
}
section#finder > article:last-of-type .filtered {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--spacing-large);
}
section#finder > article:last-of-type .filtered p {
  gap: var(--spacing-xx-small);
  display: flex;
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#finder > article:last-of-type .filtered p:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#finder > article:last-of-type .filtered p:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#finder > article:last-of-type .filtered p {
  width: auto;
}
section#capabilites h2 {
  font-size: var(--font-size-h1);
}
section#capabilites article:first-of-type {
  color: #000;
  width: 30%;
  display: flex;
  flex-direction: column;
}
section#capabilites article:last-of-type {
  display: flex;
  flex-direction: column;
  /*FIXME: non rencenser*/
  width: 55%;
  gap: 26px;
}
section#capabilites article:last-of-type hr {
  color: var(--color-border-reversed);
}
section#capabilites article:last-of-type > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
section#capabilites article:last-of-type > div > div {
  gap: var(--spacing-x-small);
  display: flex;
}
section#capabilites article:last-of-type > div > div .service {
  display: flex;
  flex-direction: column;
  /*FIXME: non rencenser*/
  gap: 2px;
}
section#capabilites article:last-of-type > div > div .service .serviceTitle {
  display: flex;
  align-items: center;
  /*FIXME: non rencenser*/
  gap: 9px;
}
section#capabilites article:last-of-type > div > div .service p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-secondary);
}
section#capabilites article:last-of-type > div .arrowIcon {
  /*FIXME: non renceser*/
  padding: 6px 3px;
  color: var(--color-icon-brand);
}
section#families h2 {
  font-size: var(--font-size-h1);
}
section#families {
  color: #000;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-x-large);
  background-color: var(--color-bg-subtle);
}
section#families > article#families-title {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: space-between;
}
section#families > article#families-title a {
  display: flex;
  align-items: center;
  gap: var(--spacing-xx-small);
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#families > article#families-title a:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#families > article#families-title a:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#families > article#families-list {
  display: flex;
  width: 100%;
  justify-content: space-between;
  /*FIXME: non recenser*/
}
section#families > article#families-list .column {
  width: 33%;
  display: flex;
  flex-direction: column;
  /*FIXME: border-with-sm non recenser*/
  border: 1px solid var(--color-border-reversed);
}
section#families > article#families-list .column .familie-element {
  display: flex;
  flex-direction: column;
  /*FIXME: non recenser*/
  gap: 21px;
  padding: var(--spacing-medium) var(--spacing-large);
}
section#families > article#families-list .column .familie-element:last-child {
  /*FIXME: border-with-sm non recenser*/
  border-top: 1px solid var(--color-border-reversed);
}
section#families > article#families-list .column .familie-element span {
  display: flex;
  flex-direction: column;
}
section#families > article#families-list .column .familie-element span p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-secondary);
  color: #000;
  font-size: var(--font-size-body-sm);
}
section#families > article#families-list .column .familie-element a {
  display: flex;
  align-items: center;
  color: var(--color-content-accent);
  gap: var(--spacing-xx-small);
  padding: var(--spacing-xx-small) var(--spacing-x-small);
  font-family: var(--font-family-heading);
  font-size: var(--font-size-body-sm);
  font-weight: var(--font-weight-bold);
  line-height: 100%;
  letter-spacing: -1%;
}
section#families > article#families-list .column {
  /* column gauche */
}
section#families > article#families-list .column:first-of-type {
  border-radius: 10px 0 0 10px;
}
section#families > article#families-list .column {
  /* column centre*/
}
section#families > article#families-list .column:nth-of-type(2) {
  border-inline: none;
}
section#families > article#families-list .column {
  /* column droite*/
}
section#families > article#families-list .column:last-of-type {
  border-radius: 0 10px 10px 0;
}
section#talk {
  background-color: var(--color-bg-primary);
  color: var(--color-content-reversed-primary);
}
section#talk article {
  display: flex;
  flex-direction: column;
  max-width: 60%;
  gap: var(--spacing-medium);
}
section#talk article legend {
  color: var(--color-content-reversed-secondary);
}
section#talk article legend div {
  background-color: var(--color-content-reversed-secondary);
}
section#talk article p {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body-md);
  line-height: 136%;
  letter-spacing: -1%;
  color: var(--color-content-secondary);
  font-size: var(--font-size-body-lg);
  color: var(--color-content-reversed-secondary);
}
section#talk article nav {
  display: flex;
  gap: var(--spacing-medium);
}
section#talk article nav a:first-of-type {
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  background-color: var(--color-bg-default);
  color: var(--color-content-primary);
}
section#talk article nav a:first-of-type:hover {
  background-color: var(--color-state-bg-neutral-hover);
}
section#talk article nav a:first-of-type:active {
  background-color: var(--color-state-bg-neutral-pressed);
}
section#talk article nav a:last-of-type {
  border: 0.5px solid var(--color-border-accent);
  border-radius: var(--border-radius-xxl);
  padding: var(--spacing-xx-small) var(--spacing-medium);
  color: var(--color-content-accent);
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
}
section#talk article nav a:last-of-type:hover {
  background-color: var(--color-state-bg-reversed-hover);
}
section#talk article nav a:last-of-type:active {
  background-color: var(--color-state-bg-dark-active);
  color: var(--color-content-disabled);
}
section#talk article nav a:last-of-type {
  border: 1px solid var(--color-border-subtle);
  color: var(--color-border-subtle);
}
section#talk article nav a:last-of-type:hover {
  background-color: var(--color-state-bg-neutral-hover);
  color: var(--color-content-primary);
}
section#talk article nav a:last-of-type:active {
  background-color: var(--color-state-bg-neutral-pressed);
  color: var(--color-content-primary);
}

@keyframes carousel-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
.carousel {
  background-color: var(--color-bg-primary);
  border-bottom: 1px solid var(--color-border-reversed);
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(37, 26, 40, 0.06), 0 1px 3px rgba(37, 26, 40, 0.06);
  padding: 4px var(--spacing-xx-small);
}
.carousel__track {
  display: flex;
  width: -moz-max-content;
  width: max-content;
  animation: carousel-scroll 30s linear infinite;
}
.carousel ul {
  display: flex;
  align-items: center;
  gap: var(--spacing-x-large);
  flex-shrink: 0;
  list-style: none;
  margin: 0;
}
.carousel ul:last-of-type {
  margin-left: var(--spacing-x-large);
}
.carousel ul li {
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: var(--font-family-heading);
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  line-height: 136%;
  letter-spacing: -1%;
  white-space: nowrap;
  color: var(--color-content-reversed-primary);
}/*# sourceMappingURL=home.css.map */