@keyframes slideDown {
    from { transform: translateY(-100%); }
    to   { transform: translateY(0); }
}

/* Header */
header{
    background-color: var(--color-bg-default);
    padding: var(--spacing-x-large);
    // FIXME: Vérifier la couleur non présente dans globals.css
    box-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
    border-bottom: 1px solid var(--color-border-default);
    height: 120px;


    #credits{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-medium);
        > p{
            color: var(--color-content-secondary);
            font-family: var(--font-family-heading);
            font-size: var(--font-size-body-sm);
        }
    }

    #navigation{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: var(--spacing-medium);
        height: 70px;

        > img{
            // FIXME: A vérifier avec globals .css taille temporaore
            display: none;
            width: 108px;
            height: 68px;
        }
        > p{
            padding: var(--spacing-xx-small) var(--spacing-x-small);
            text-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
            color: var(--color-content-accent);
            font-family: var(--font-family-body);
            font-size: var(--font-size-body-md);
            line-height: 136%;
            letter-spacing: -1%;
            span{
                font-weight: var(--font-weight-bold);
            }
        }
        > nav{
            display: flex;
            justify-content: center;
            color: var(--color-content-accent);
            text-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
            font-size: var(--font-size-body-md);
            font-family: var(--font-family-body);
            // FIXME: Vérifier taille avec globals.css
            width: 772px;
            > ul {
                display: flex;
                flex-direction: row;
                gap: var(--spacing-medium);
                > li{
                    padding: var(--spacing-xx-small) var(--spacing-medium);
                    gap: var(--spacing-xx-small);
                        &:hover{
                            border-bottom: var(--color-border-accent) 2px solid;
                            text-shadow: none;
                        }
                    }
                }
            }
        }

        
    #action{
        display: flex;
        flex-direction: row;
        gap: var(--spacing-medium);
        > *{
            padding: var(--spacing-xx-small) var(--spacing-medium);
            border-radius: var(--border-radius-xxl);
        }
        > div{
            border: 0.5px solid var(--color-border-accent);
            color: var(--color-content-accent);
        }
        > a {
            background-color: var(--color-bg-primary);
            color: var(--color-content-on-primary);
            border: 0.5px solid var(--color-border-accent);
        }
        p{
            gap:var(--spacing-xx-small);
            display: flex;
        }
    }
    
    &:hover{
        animation: slideDown 0.4s cubic-bezier(0.22,1,0.36,1);
        #navigation {
            > img{
                display: block;
            }
            > p{
                display: none;
            }
        }
    }
}