@mixin btn-base(){
    border: 0.5px solid var(--color-border-accent);
    border-radius: var(--border-radius-xxl);
    padding: var(--spacing-xx-small) var(--spacing-medium);
    color: var(--color-content-accent);
    box-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
    &:hover{
        background-color: var(--color-state-bg-reversed-hover);
    }
    &:active{
        background-color: var(--color-state-bg-dark-active);
        color: var(--color-content-disabled)

    }
}

@mixin btn-blue(){
    @include btn-base();
    background-color: var(--color-bg-primary);
    color: var(--color-content-on-primary);
    &:hover{
        background-color: var(--color-state-primary-hover);
    }
    &:active{
        background-color: var(--color-state-primary-pressed);
    }
}

