/* Header */
header{
  background-color: var(--color-bg-default);
  padding: var(--spacing-x-large) 112px;
  position: sticky;
  // FIXME: Vérifier la couleur non présente dans globals.css
  box-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
  
  #credits{
    display: flex;
    flex-direction: row;
  
    > p{
      color: var(--color-content-secondary);
      font-family: var(--font-family-heading);
      font-size: var(--font-size-body-sm);
      margin: 0 var(--spacing-xx-small);
    }
  }
  #navigation{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-medium);
    > img{
      // FIXME: A vérifier avec globals .css taille temporaore
      width: 108px;
      height: 68px;
    }
    > nav{
      display: flex;
      justify-content: center;
      color: var(--color-content-accent);
      text-shadow: 0 1px 2px rgb(37 26 40 / 0.06),0 1px 3px rgb(37 26  40 / 0.06);
      font-size: var(--font-size-body-md);
      font-family: var(--font-family-body);
      // FIXME: Vérifier taille avec globals.css
      width: 772px;
      
      > ul {
        display: flex;
        flex-direction: row;
        gap: var(--spacing-medium);
        > li{
          padding: var(--spacing-xx-small) var(--spacing-medium);
          gap: var(--spacing-xx-small);

          &:hover{
            border-bottom: var(--color-border-accent) 2px solid;
            text-shadow: none;
          }
        }
      }
    }
    #action{
      display: flex;
      flex-direction: row;
      gap: var(--spacing-medium);
      > *{
        padding: var(--spacing-xx-small) var(--spacing-medium);
        border-radius: var(--border-radius-xxl);
      }
      > div{
        border: 0.5px solid var(--color-border-accent);
        color: var(--color-content-accent);
      }
      > a {
        background-color: var(--color-bg-primary);
        color: var(--color-content-on-primary);
        border: 0.5px solid var(--color-border-accent);
      }
    }
  }
}

/* Footer */
footer{
  background-color: var(--color-bg-reversed);
  // FIXME: changer////////
  color: white; 
  width: 100vw;
  padding: var(--spacing-x-large);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  section:first-child{
    gap: 87px;
    display: flex;
    flex-direction: row;

    article{
      padding: var(--spacing-xx-small);
      gap: var(--spacing-xx-small);;
      width: 18%;
      span{
        font-family: var(--font-family-heading);
        font-size: var(--font-size-label);
        line-height: var(--spacing-xx-small);
        letter-spacing: -1%;
        text-transform: uppercase;
      }

      ul{
        li{
          padding: var(--spacing-xx-small) var(--spacing-x-small);
          font-family: var(--font-family-body);
          font-size: var(--font-size-body-sm);
          line-height: 136%;
          letter-spacing: -1%;
          color: var(--color-content-reversed-secondary);
        }
      }
    }

    article:first-child{
      display: flex;
      flex-direction: column;
      padding: var(--spacing-xx-small);
      gap: var(--spacing-medium);
      width: 26%;
      color: var(--color-content-reversed-primary);
      div:last-child{
        // FIXME: 8px n'est pas dans globals.css
        display: flex;
        gap: 8px;
        flex-direction: column;
      }

      h4{
        font-family: var(--font-family-title);
        font-size: var(--font-size-body-lg);
        line-height: 175%;
        letter-spacing: -2%;
      }
      h5{
        font-family: var(--font-family-heading);
        font-weight: var(--font-weight-bold);
        font-size: var(--font-size-body-sm);
        line-height: 8px;
        letter-spacing: -1%;
      }
      p{
        font-family: var(--font-family-body);
        font-size: var(--font-size-body-sm);
        line-height: 136%;
        letter-spacing: -1%;
      }
    }
  }
  section:last-child{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-bg-secondary-subtle);
    font-family: var(--font-family-heading);
    font-weight: var(--font-weight-light);
    font-size: var(--font-size-body-sm);
      // FIXME: vérifier le 15px////////
    line-height: 15px;
    letter-spacing: -1%;
    text-transform: uppercase;  
    article{
      display: flex;
      flex-direction: row;
      gap:var(--spacing-medium);
    }
  }
}